<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <dataConfiguration defaultDatabase="DefaultConnection"/>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=X550C;Database=ValuePad;User Id=sa;Password=p!utu$~development;"/>-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=54.149.46.135;Database=ValuePad;User Id=sa;Password=valuepad123!;"/>-->
    <!--<add name="DefaultConnection" connectionString="data source=MEET-PC\SQLEXPRESS; initial catalog=SIMS;persist security info=True; Integrated Security=true ;" providerName="System.Data.SqlClient"/>-->
  <add name="DefaultConnection" connectionString="data source=VAIO\MSSQLSERVER1; initial catalog=SIMS;persist security info=True; Integrated Security=true ;"
 providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EncryptionKey" value="hcxilkqbbhczfeultgbskdmaunivmfuo"/>
    <add key="IntializationVector" value="ryojvlzmdalyglrj"/>
    <add key="BaseURL" value="http://localhost:52032/"/>
    <add key="DomainName" value="localhost"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" batch="false"/>
    <httpRuntime maxRequestLength="1550000"/>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="~/login.aspx" name=".userauth1" domain="" slidingExpiration="true" timeout="129600" protection="All" cookieless="UseDeviceProfile" path="/"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <sessionState mode="InProc" timeout="60" cookieless="AutoDetect"/>
    <pages enableSessionState="false" controlRenderingCompatibilityVersion="4.0"/>
    <httpModules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <machineKey validation="SHA1" decryption="Auto" decryptionKey="828D2DC973FB688737F0B92D2B1C1CBDFCC44E52BA4D1465" validationKey="808436F90F7A36FDB80AA9FAB33C561D12A0B74A8AE4ABD7"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <hiddenSegments>
          <add segment="ApplicationData"/>
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="1024000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<handlers>
      <remove name="upload.ashx" />
      <add name="upload.ashx" verb="POST,GET" path="upload.ashx" type="ValuePad.upload" />
    </handlers>-->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>